<html>
<head>
<title>pure-systems</title></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

* {box-sizing: border-box}

.slideshow-container {
	max-width: 2000px;
  position: relative;
  margin: auto;
}


.img-container{
  display: flex;
  align-item: center;
  justify-content: center;
}

.logo-img
{
  margin-top: 30px;
  width: 9.5em;
  height: 8em;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;  
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
 for (item of (window.location.hash.substring(1).split('&'))) {
        document.cookie = item + ';path=/';
    }
var tokenitem = document.cookie.split(';').find(function(i){return $.trim(i).split('=')[0]=='access_token'})
if (tokenitem) { window.gitlab_token = tokenitem.split('=')[1] } else { window.gitlab_token = '' }
//var path = encodeURIComponent(window.location.pathname);
//if (window.gitlab_token) {
    //$('#signin').text("Sign out").prop('href','{{$.Site.BaseURL}}/page/signout/?state=' + path);
   function myfunction() { 
        $.ajax('https://gitlab.com/api/v4/projects/27784574/pipeline',{
                'data':JSON.stringify({
                    'ref': 'main',
                    'variables': [{'key':'PROJECTID', 'value':$('#projectid').val(), 'variable_type':'env_var'},{'key':'FOLDERID', 'value':$('#folderid').val(), 'variable_type':'env_var'}]
                }),
                'method':'POST',
                'headers':{
                    //'Authorization': 'Bearer '+window.gitlab_token,
                    'Authorization': 'Bearer TBrmmbEa8ce1fUcDzfxj',
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                    $('#api-output').html('<b>Pipeline status is ' + output['status'] + '</b> &nbsp; <a href="' + output['web_url'] + '">View pipeline</a>');
                },
                'error':function(output) {
                  alert('Error!');
                    $('#api-output').html('<b>Error</b>')
                }});
        //$('#pipeline-form').hide();
       // $('#pipeline-after').show();
    }
    function myfunction_1() { 
      //alert('Done!');
        $.ajax('https://gitlab.com/api/v4/users/3886885/starred_projects',{
                'method':'GET',
                'headers':{
                    //'Authorization': 'Bearer '+window.gitlab_token,
                    'Authorization': 'Bearer QJyd6UHjXzeH_tdJ8ByJ',
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                   //$('#api-output_01').html(obj);
                   //var jsonData = JSON.parse(output);
                   //$('#api-output_01').html(jsonData);
                  for (var i = 0; i < output.length; i++) {
                  var xyz = output[i];
                  //var xyzjason= JSON.parse(xyz);
                  //alert(xyz.name);
                  var newSelect = document.createElement('option');
                  selectHTML = "<option value='" + xyz.name + "'>" + xyz.name + "</option>";
                  newSelect.innerHTML = selectHTML;
                  document.getElementById('projectid').add(newSelect);
                 }
                },
                'error':function(output) {
                  alert('Error!');
                    $('#api-output').html('<b>Error</b>')
                }});
} 
function myfunction_2() { 
      var selctd_pro = $( "#projectid" ).val();
        $.ajax('https://gitlab.com/api/v4/users/3886885/starred_projects',{
                'method':'GET',
                'headers':{
                    //'Authorization': 'Bearer '+window.gitlab_token,
                    'Authorization': 'Bearer QJyd6UHjXzeH_tdJ8ByJ',
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                   //$('#api-output_01').html(obj);
                   //var jsonData = JSON.parse(output);
                   //$('#api-output_01').html(jsonData);
                    alert("inside");
                    var x=document.getElementById("selctd_pro");
                    x.innerHTML = '';
                  for (var i = 0; i < output.length; i++) {
                  var xyz = output[i];
                  //var xyzjason= JSON.parse(xyz);
                  //alert(xyz.name);
                  if(xyz.name==selctd_pro)
                  {
                    var slectd_pro_id = xyz.id;
                    var url = 'https://gitlab.com/api/v4/projects/'+slectd_pro_id+'/repository/tags'
                    $.ajax(url,{
                'method':'GET',
                'headers':{
                    //'Authorization': 'Bearer '+window.gitlab_token,
                    'Authorization': 'Bearer QJyd6UHjXzeH_tdJ8ByJ',
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
               
                  for (var i = 0; i < output.length; i++) {
                  var xyz = output[i];
                  //var xyzjason= JSON.parse(xyz);
                  //alert(xyz.name);
                  var newSelect = document.createElement('option');
                  selectHTML = "<option value='" + xyz.name + "'>" + xyz.name + "</option>";
                  newSelect.innerHTML = selectHTML;
                  document.getElementById('folderid').add(newSelect);
                 }
                },
                'error':function(output) {
                  alert('Error!');
                    $('#api-output').html('<b>Error</b>')
                }});

                  }
                  
                 }
                },
                'error':function(output) {
                  alert('Error!');
                    $('#api-output').html('<b>Error</b>')
                }});
} 
</script>

</head>
<body style="background-color:GhostWhite;  background-image: url(cover_photo_9.jpg); background-size: 100% 50%; background-repeat:no-repeat;" onload="myfunction_1()">

<div class="img-container">
	
		<img class = "logo-img" src="pure_syst_Logo.jpg" alt="Avatar" style="border-radius: 50%; "> 
	
</div>

<div class="card" style="background-color:GhostWhite; border-radius: 10px;">
		<h1 style="text-align: center;font-family: 'Copperplate', serif;  font-size: 300%;"><b>Easy Access<b></h1>
		<p style="text-align: center-left;font-family: 'Calibri', sans-serif; color: DarkGray; font-size: 150%;">Select a Feature Model to view</p>

		<form action="/action_page.php">
			<select id="projectid" name="project" onchange="myfunction_2()">
				<option value="" selected disabled hidden>Select a Project</option>

			  </select>
			<br><br>
			<select id="folderid" name="folder">
				<option value="" selected disabled hidden>Select a Version</option>

			</select>
			  <br>
			  <br>
			  <input type="button" onclick="myfunction()" id="api-example" value = "Fire Up Docker Container">
        <!--<input type="button" onclick="myfunction_1()" id="api-example_1" value = "Projects">-->
			<br><br>
      <div id="api-output"></div>
      <div id="api-output_01"></div>
		</form>
</div>

</body>
</html>





